<h2>Մուտք Համակարգ</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <strong>e-mail</strong><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <strong>Ծածկագիր</strong><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <strong>Հիշել</strong><br />
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Մուտք" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
