<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Գույք</Data></Cell>
        <Cell><Data ss:Type="String">Ա.Ա.</Data></Cell>
        <Cell><Data ss:Type="String">Քանակ</Data></Cell>
      </Row>
    <% @items.order(:person_id).each do |item| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= item.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= item.room.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= item.asset.name %></Data></Cell>
         <Cell><Data ss:Type="String"><%= item.person.full_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= item.qanak %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

