<h1>Listing items11 of <%= @room_name.humanize  %></h1>

<table class="table  table-hover">
  <thead>
    <tr>
      <th>Room</th>
      <th>Asset</th>
      <th>Qanak</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.order(:person_id).each do |item| %>
      <tr>
        <td><%= item.room.name %></td>
        <td><%= item.asset.name %></td>
        <td><%= item.person.firstName %></td>
        <td><%= item.qanak %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


